body {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/88/15/HYUtdS.jpg");
  font-family: "Times New Roman", sans-serif;
  max-width: 100%;
}

ul {
  display: inline-block;
  color: #fff;
  list-style: none;
  padding: 20px;
}
h2 {
  color: white;
  font-size: 4rem;
}

h1 {
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  color: white;
}

.weather-app {
  position: relative;
  width: 900px;
  display: block;
  margin: 80px auto;
  height: 500px;
  padding: 20px;
  background-color: blue;
  border: 2px solid #dadde1;
  border-style: solid;
  border-radius: 30px;
}

.row {
  display: flex;
  padding: 20px 20px;
}
.temperature {
  font-size: 4rem;
}

span {
  color: white;
}
.col .left {
  display: flex;
  clear:right;
}

.col .right {
  display: flex;
  align-items: center;
  font: 2rem;
}
